body, button, #header_beta, textarea, #main_content_white, .white-wrapper, .guestbook-sort-bar, .comments .more-replies, .default-button, a.default-button, input.default-button, span.default-button, nav .games, nav .store, .header-search-form .header-searchbox, #template_container.template-container, #footer_menu {
  background: #101010;
  color: #f0f0f0;
}

#template_container {
  text-align: center;
  width: auto;
}

#showmedia_video_box_wide {
  margin: 0 auto;
  width: 80vw;
  height: 45vw;
}

#main_content {
  float: none;
  width: auto;
}

#sidebar {
  float: none;
  width: auto;
}

.header-menubar ul li a {
  color: white;
}

header-menubar .games, header-menubar .store {
  border-radius: 2pt;
  background-color: #101010;
}

.landscape-grid .wrapper:hover {
  background: #303030;
}

.landscape-grid .wrapper:hover a {
  background: #303030;
  color: white;
}

.new-template-body h1, nav .games #games_button, nav .store #store_button {
  color: #f0f0f0;
}

.collection-carousel {
  margin: 0 auto;
}

.collection-carousel-rightarrow {
  border-radius: 50% 0 0 50%;
  background: #f0d0a0;
  box-sizing: border-box;
  height: 50%;
  margin-top: 1.5em;
}

.collection-carousel-leftarrow {
  border-radius: 50% 0 0 50%;
  background: #f0d0a0;
  box-sizing: border-box;
  height: 50%;
  margin-top: 1.5em;
}



